-- {{.Name}}
-- {{.Description}}
-- Author: TODO
-- Date: {{.Date}}

local M = {}

M.setup = function(opts)
  opts = opts or {}
  
  -- Default options
  M.options = {
    -- Define your default options here
  }

  -- Override defaults with user options
  for k, v in pairs(opts) do
    M.options[k] = v
  end

  -- Initialize your plugin here
end

return M